name: Publish Saguaro to PyPI

on:
  push:
    branches:
      - main  # Now it triggers every time you push to the main branch

jobs:
  build-n-publish:
    name: Build and publish Saguaro
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write 

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install build dependencies
      run: python -m pip install build
    - name: Build package
      run: python -m build
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1